body {
  max-width: 100%;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  background: #d9d9d9;
  font-family: "DM Sans", sans-serif;
}
.navbar a.active,
.navbar a:hover {
  font-weight: 600;
  transform: 0.5s;
}

nav {
  background: #d9d9d9;
  height: 80px;
}
label.logo {
  color: black;
  font-size: 36px;
  line-height: 80px;
  padding: 0 100px;
}
nav ul {
  float: right;
  margin-right: 20px;
  line-height: 80px;
}
nav ul li {
  display: inline-block;
  height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
}

.contact {
  margin-left: 50px;
}
.title_header {
  margin: 180px 100px;
}
.title_card {
  display: flex;
  flex-direction: row;
}

.title_card .title_name {
  font-size: 72px;
  font-weight: 500;
  margin-right: 100px;
}
.title_card .title_bio {
  font-size: 30px;
  font-weight: 300;
  margin-left: 50px;
}
.down_arrow_title {
  margin-top: 150px;
  width: 32px;
  height: 40px;
}
.checkbtn {
  font-size: 35px;
  color: white;
  float: right;
  line-height: 80px;
}

/* Project css */
.project {
  margin: 120px 100px 50px 100px;
  display: flex;
  flex-direction: row;
}

.project_title {
  font-size: 18px;
  font-weight: 400;
}
.project_desc {
  font-family: "DM Mono", monospace;
  font-size: 16px;
  padding: 36px 0px;
  font-weight: 300;
}
.project_tech_stack {
  font-family: "DM Mono", monospace;
  font-size: 14px;
  font-weight: 300;
}
.project_tools {
  font-family: "DM Mono", monospace;
  font-size: 14px;
  font-weight: 300;
  padding-left: 20px;
}
.project_tools li {
  list-style: circle;
}
.project_image_container {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
}
.project_image {
  width: 350px;
  height: auto;
}
.project_more_details {
  margin-top: 30px;
}
.project_more_details a{
  color: black;
}
.project_more_details a:hover {
  transform: 0.5s;
  color: gray;
}

.divider {
  margin: 20px 150px;
}

/* Footer */

.footer_container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}
.footer_container p {
  padding: 20px;
  justify-content: center;
}

/* About page */

/* About title */
.about_title_header {
  margin: 50px 100px;
}
.about_title_container {
  display: flex;
  flex-direction: row;
}
.about_image_container {
  text-align: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.my_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
.about_title_card {
  flex: 2;
}
.about_title_name {
  margin-top: 50px;
  font-size: 48px;
  font-weight: 300;
  padding-right: 250px;
}

.about_title_bio p {
  font-size: 22px;
  font-weight: 300;
  margin-top: 80px;
  padding-right: 50px;
}

/* About tech skills */
.about_tech_skills_container {
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
}

.about_tech_title {
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
  line-height: 28px;
}
.about_tech_names p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

/* Contact */
.about_contact_conatiner {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  padding-top: 30px;
}
.call_next_project {
  padding: 0px 0px 0px 100px;
  flex: 1;
}
.email_resume_conatiner {
  padding: 0px 100px 0px 0px;
  display: block;
  flex: 1;
  max-width: 50%;
  justify-content: end;
}
.email_resume_conatiner p {
  text-align: end;
}
.resume a {
  font-size: 14px;
  font-weight: 300;
  color: black
}
.email_id a{
color: black;
}

/* Media Querry */

@media screen and (max-width: 920px) {
   .contact {
    margin-left: 0px;
  }
  .title_header {
    margin: 80px 50px;
  }
  .title_card {
    display: block;
  }
  .title_card .title_bio {
    font-size: 24px;
    font-weight: 300;
    margin-left: 0px;
    margin-top: 20px;
  }

  .project {
    margin: 120px 100px 50px 50px;
    display: block;
  }
  .project_image_container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
  }
  .project_image {
    width: 100%;
    object-fit:contain;
    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  label.logo {
    color: black;
    font-size: 36px;
    line-height: 80px;
    padding: 0 50px;
  }
  .navbar .checkbtn {
    float: right;
    display: block;
    padding:0px 20px;
    font-size: 24px;
    size: 24px;
  }
  .checkbtn a{
    color: black;
    font-size: 24px;
  }
  .navbar_items {
    display: none;
  }
  .navbar .navbar_items{
    display: none;
  }
  .about_title_header {
    margin: 50px 50px;
  }
  .about_title_container {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .about_image_container {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    margin-top: 40px;
  }

  .my_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about_contact_conatiner {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .call_next_project {
    padding: 0px 0px 0px 50px;
    flex: 1;
  }
  .email_resume_conatiner {
    padding: 0px 50px 0px 0px;
    display: block;
    flex: 1;
    max-width: 50%;
    justify-content: end;
  }

  .about_tech_skills_container {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
  }
}

.my_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d9d9d9; /* This creates a semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my_overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.my_overlay ul li {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  border-radius: 5px;
}
.my_overlay ul li a{
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.my_overlay ul li a.active,
.my_overlay ul li a:hover {
  font-weight: 600;
  transform: 0.5s;
}
.checkbtn {
  display: none;
}
.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d9d9d9;
  color: black;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 60px;
}
.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.email_id{
  word-wrap: break-word;
}

.footer_container a{
  color: black;
}